* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

/*body {*/
    /*height: 87%;*/
/*}*/

p {
    text-align: center;
}

a {
    text-decoration: none;
}

.swiper-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*预加载效果*/
.loader {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    background: #C0DAD9;
    z-index: 5;
}

.loader__bar {
    font-size: 0.6rem;
    width: 6.4rem;
    color: #fff;
    line-height: 1.2rem;
    height: 1.2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    margin-left: -3.2rem;
    margin-top: -0.75rem;
    overflow: hidden;
}

.loader__progress, .loader__progress-bg, .loader__info {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
}

.loader__progress {
    z-index: 3;
    width: 0;
    background: #1A3831;
    border-radius: 0.75rem;
}

.loader__progress-bg {
    z-index: 2;
    width: 100%;
    background: #3C776A;
    border-radius: 0.75rem;
}

.loader__info {
    width: 100%;
    font-size: 0.6rem;
    z-index: 4;
}

/*主内容*/
.swiper-slide {
    position: relative;
}

/*invitation*/
.page1 div:nth-of-type(1) {
    position: absolute;
    top: 5.6rem;
    left: 37%;
    font-size: 0.7rem;
    font-family: Trebuchet MS, "微软雅黑", Tahoma, Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: rgba(138, 43, 226, 0.5);
    z-index: 1000;
}

/*!*名字*!*/
/*.page1 div:nth-of-type(2) {*/
/*padding-top: 9.5rem;*/
/*font-size: 0.8rem;*/
/*font-family: "微软雅黑", Tahoma, Helvetica, Arial, sans-serif;*/
/*font-weight: 700;*/
/*color: rgba(138, 43, 226, 0.5);*/
/*z-index: 2;*/
/*}*/

/*!*日期*!*/
/*.page1 div:nth-of-type(3) {*/
/*padding-top: 0.30rem;*/
/*font-family: Trebuchet MS, "微软雅黑", Tahoma, Helvetica, Arial, sans-serif;*/
/*font-size: 0.8rem;*/
/*font-weight: 700;*/
/*color: rgba(138, 43, 226, 0.5);*/
/*z-index: 2;*/
/*}*/

.swiper-slide img {
    position: absolute;
    width: 100%;
}

/*logo*/
@keyframes anim1 {
    from {
        transform: rotate(-5deg);
    }
    to {
        transform: rotate(5deg);
    }
}

@-webkit-keyframes anim1 {
    from {
        -webkit-transform: rotate(-5deg);
    }
    to {
        -webkit-transform: rotate(5deg);
    }
}

@-moz-keyframes anim1 {
    from {
        -moz-transform: rotate(-5deg);
    }
    to {
        -moz-transform: rotate(5deg);
    }
}

.page1 img:nth-of-type(1) {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.page1 img:nth-of-type(2) {
    width: 80%;
    top: 7.2rem;
    left: 10%;
    -webkit-animation: anim1 1s linear infinite alternate;
    -moz-animation: anim1 1s linear infinite alternate;
    animation: anim1 1s linear infinite alternate;
}

/*头部*/
.page1 img:nth-of-type(3) {
    max-width: 110%;
    width: 110%;
    top: -0.25rem;
    left: -3%;
    z-index: 1;
}

/*尾部*/
.page1 img:nth-of-type(4) {
    max-width: 110%;
    width: 110%;
    bottom: -0.45rem;
    left: -5%;
}

/*音乐*/
@keyframes anim2 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes anim2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes anim2 {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

.swiper-slide .music_btn {
    width: 10%;
    position: absolute;
    top: 2%;
    right: 3%;
    z-index: 1;
}

.play {
    -webkit-animation: anim2 3s linear infinite;
    -moz-animation: anim2 3s linear infinite;
    animation: anim2 3s linear infinite;
}

.pause {
    animation-play-state: paused;
}

/*箭头*/
@keyframes anim3 {
    0%, 30% {
        opacity: 0;
        transform: translate(0, 10px);
    }
    60% {
        opacity: 1;
        transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        transform: translate(0, -8px);
    }
}

@-webkit-keyframes anim3 {
    0%, 30% {
        opacity: 0;
        -webkit-transform: translate(0, 10px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, -8px);
    }
}

@-moz-keyframes anim3 {
    0%, 30% {
        opacity: 0;
        -moz-transform: translate(0, 10px);
    }
    60% {
        opacity: 1;
        -moz-transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        -moz-transform: translate(0, -8px);
    }
}

.swiper-slide .arrow {
    width: 10%;
    position: absolute;
    bottom: 2%;
    left: 46%;
    -webkit-animation: anim3 1.5s ease-in-out infinite;
    -moz-animation: anim3 1.5s ease-in-out infinite;
    animation: anim3 1.5s ease-in-out infinite;
    z-index: 2;
}

/*第二页*/
.page2 {
    background: url("../images/bg2.jpg") no-repeat bottom;
    background-size: cover;
}

.video_container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 6.2rem;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1000;
    text-align: center;
    display: none;
}

/*文字*/
.page2 div {
    font-family: "微软雅黑", Tahoma, Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: rgba(139, 0, 139, 0.5);
    font-size: 0.8rem;
}

.page2 div:nth-of-type(1) {
    padding-top: 2.0rem;
    padding-left: 15%;

}

.page2 div:nth-of-type(2) {
    padding-top: 0.30rem;
    padding-left: 30%;
}

@keyframes anim4 {
    0%, 30% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes anim4 {
    0%, 30% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes anim4 {
    0%, 30% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.page2 .please_click {
    position: absolute;
    font-size: 0.5rem;
    padding-top: 6.5rem;
    padding-left: 32%;
    z-index: 2;
    transform: rotate(-16deg);
    -webkit-transform: rotate(-16deg);
    -moz-transform: rotate(-16deg);
    -webkit-animation: anim4 2.5s ease-in-out infinite;
    -moz-animation: anim4 2.5s ease-in-out infinite;
    animation: anim4 2.5s ease-in-out infinite;
}

/*photos*/

.page2 img:nth-of-type(1) {
    max-width: 40%;
    width: 40%;
    top: -0.3rem;
    left: -5%;
}

.page2 img:nth-of-type(2) {
    max-width: 90%;
    top: 5.5rem;
    left: 10%;
    z-index: 1;
    pointer-events: none;
}

.page2 img:nth-of-type(3) {
    max-width: 22.5%;
    width: 22.5%;
    top: 13.0rem;
    left: 48%;
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
}

/*视频关闭按钮*/
.close_btn {
    background-image: url(../images/close_white.png);
    display: none;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 20px;
    height: 20px;
    z-index: 1001;
}

/*第3页*/
.page3 {
    background: url("../images/bg1.jpg") no-repeat;
    background-size: cover;
}

.page3 div {
    font-family: "微软雅黑", Tahoma, Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: rgba(139, 0, 139, 0.5);
    font-size: 0.5rem;
    line-height: 1rem;
}

/*.page3 div:nth-of-type(1) {*/
/*height: 6rem;*/
/*background: url("../images/paper.png") no-repeat;*/
/*background-size: cover;*/
/*}*/

/*.page3 div:nth-of-type(1) {*/
/*padding-top: 8.5rem;*/
/*}*/

.page3 div:nth-of-type(7) {
    height: 5.32rem;
    width: 8rem;
    position: absolute;
    border: 0.25rem solid #fff;
    background: url("../images/pic1.jpeg") no-repeat;
    background-size: cover;
    top: 1.5rem;
    left: 4%;
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    z-index: 1;
}

.page3 div:nth-of-type(8) {
    width: 5.32rem;
    height: 8rem;
    position: absolute;
    border: 0.25rem solid #fff;
    background: url("../images/pic2.jpeg") no-repeat;
    background-size: cover;
    top: 4.5rem;
    left: 61%;
}

.page3 div:nth-of-type(9) {
    height: 5.32rem;
    width: 8rem;
    position: absolute;
    border: 0.25rem solid #fff;
    background: url("../images/pic3.jpeg") no-repeat;
    background-size: cover;
    top: 15.5rem;
    left: 42%;
    transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    z-index: 1;
}

.page3 img:nth-of-type(1) {
    width: 125%;
    top: 5.5rem;
    left: -32%;
}

.page3 img:nth-of-type(2) {
    bottom: -0.5rem;
    left: -5%;
}

.page3 div p {
    position: absolute;
    left: 15%;
    z-index: 2;
}

/*第4页*/
.page4 {
    background: url("../images/bg1.jpg") no-repeat;
    background-size: cover;
}

.page4 div:nth-of-type(1) {
    height: 5.32rem;
    width: 8rem;
    position: absolute;
    border: 0.25rem solid #fff;
    background: url("../images/pic6.jpeg") no-repeat;
    background-size: cover;
    top: 1.5rem;
    left: 4%;
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    z-index: 1;
}

.page4 div:nth-of-type(2) {
    width: 5.32rem;
    height: 8rem;
    position: absolute;
    border: 0.25rem solid #fff;
    background: url("../images/pic5.jpeg") no-repeat;
    background-size: cover;
    top: 4.5rem;
    left: 61%;
}

.page4 div:nth-of-type(3) {
    height: 7.37rem;
    width: 8rem;
    position: absolute;
    border: 0.25rem solid #fff;
    background: url("../images/pic4.jpeg") no-repeat;
    background-size: cover;
    top: 8.5rem;
    left: 4%;
    transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    z-index: 1;
}

.page4 img:nth-of-type(1) {
    width: 110%;
    bottom: -0.5rem;
    left: -5%;
}

/*第5页*/
.page5 {
    background: url("../images/bg3.jpg") no-repeat;
    background-size: cover;
}

/*尾部*/
.page5 img:nth-of-type(1) {
    max-width: 110%;
    width: 110%;
    bottom: -0.45rem;
    left: -5%;
    z-index: 1;
}

.page5 img:nth-of-type(2) {
    width: 30%;
    bottom: 3rem;
    right: 2%;
}

.page5 div {
    font-family: "微软雅黑", Tahoma, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: rgba(139, 0, 139, 0.5);
}

.page5 div:nth-of-type(1) {
    font-size: 0.6rem;
    line-height: 1rem;
    padding-top: 5.2rem;
}

.page5 div a {
    font-weight: 600;
    color: rgba(139, 0, 39, 0.5);
}

.page5 div p .strong {
    /*text-decoration: none;*/
    font-weight: bolder;
}

/*适配ipad*/
@media (min-device-height: 1000px) and (-webkit-min-device-pixel-ratio: 2) {
    /*logo*/
    .page1 img:nth-of-type(2) {
        max-width: 60%;
        top: 6.7rem;
        left: 20%;
    }

    /*!*名字*!*/
    /*.page1 div:nth-of-type(2) {*/
    /*padding-top: 6.7rem;*/
    /*}*/
    /*尾部*/
    .page1 img:nth-of-type(4) {
        bottom: -2.0rem;
    }

    /*点击视频*/
    .page2 .please_click {
        padding-top: 3.5rem;
        padding-left: 35%;
    }

    /*box*/
    .page2 img:nth-of-type(2) {
        max-width: 70%;
        left: 18%;
        top: 3.7rem;
    }

    .page2 img:nth-of-type(3) {
        top: 9.55rem;
        max-width: 17.5%;
        width: 17.5%;
        left: 47.5%;
    }

    .page3 div:nth-of-type(1) {
        padding-top: 6.4rem;
    }

    .page3 div:nth-of-type(7) {
        top: 1.5rem;
    }

    .page3 div:nth-of-type(8) {
        top: 3.0rem;
    }

    .page3 div:nth-of-type(9) {
        top: 12.7rem;
        left: 45%;
        transform: rotate(-3deg);
        -webkit-transform: rotate(-3deg);
        -moz-transform: rotate(-3deg);
    }

    .page3 img:nth-of-type(1) {
        top: 3.4rem;
    }

    .page3 img:nth-of-type(2) {
        width: 70%;
    }

    .page4 div:nth-of-type(1) {
        top: 0.5rem;
    }

    .page4 div:nth-of-type(2) {
        top: 3.5rem;
        z-index: 1;
    }

    .page4 div:nth-of-type(3) {
        top: 7.0rem;
    }

    .page4 img:nth-of-type(1) {
        bottom: -2.0rem;
    }

    .page5 div:nth-of-type(1) {
        font-size: 0.4rem;
        line-height: 0.55rem;
        padding-top: 2.5rem;
    }

    .page5 img:nth-of-type(1) {
        position: absolute;
        bottom: -0.65rem;
    }
}

/*适配iphone4*/
@media (max-device-height: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    /*logo*/
    .page1 img:nth-of-type(2) {
        max-width: 60%;
        top: 6.7rem;
        left: 20%;
    }

    /*!*名字*!*/
    /*.page1 div:nth-of-type(2) {*/
    /*padding-top: 6.7rem;*/
    /*}*/
    /*box*/
    .page2 img:nth-of-type(2) {
        max-width: 70%;
        top: 5.7rem;
        left: 18%;
    }

    .page2 img:nth-of-type(3) {
        max-width: 17.5%;
        width: 17.5%;
        top: 11.55rem;
        left: 47.5%;
    }

    .page2 .please_click {
        padding-top: 5.4rem;
        padding-left: 32%;
    }

    .video_container {
        padding-top: 5rem;
    }

    /*.page3 div:nth-of-type(1) {*/
    /*top: 3.4rem;*/
    /*}*/
    .page3 div:nth-of-type(8) {
        top: 3.5rem;
    }

    .page3 div:nth-of-type(9) {
        top: 13.5rem;
        left: 45%;
    }

    .page3 div p {
        font-size: xx-small;
        left: 10%;
    }

    .page3 img:nth-of-type(1) {
        width: 135%;
        top: 3.5rem;
        left: -37.5%;
    }

    .page3 img:nth-of-type(2) {
        width: 80%;
    }

    .page4 div:nth-of-type(1) {
        top: 0.5rem;
    }

    .page4 div:nth-of-type(2) {
        top: 3.5rem;
        z-index: 1;
    }

    .page4 div:nth-of-type(3) {
        top: 7rem;
    }

    .page4 img:nth-of-type(1) {
        bottom: -2.0rem;
    }

    .page5 div:nth-of-type(1) {
        font-size: 0.5rem;
        line-height: 0.8rem;
        padding-top: 3.5rem;
    }
}

@media (max-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
    .page3 div p {
        left: 13%;
    }
}
